@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@700;900&display=swap');

*, ::after, ::before {
	box-sizing: border-box;
}
  	
html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // 10px

	@include responsive(tablet) {
		font-size: 50%;
	}
	@include responsive(small) {
		font-size: 45%;
	}
	@include responsive(extra-small) {
		font-size: 35%;
	}
	
}


img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

body {
	font-family: $font-main;
	font-weight: 400;
	font-size: 1.4rem;
}

.visually-hidden { 
  height: 1px; 
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); 
  white-space: nowrap;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}