/* colors */
$color-main: #fff;
$color-secondary: #000;
$color-logo: #005FA3;
$color-button: #005FA3;
$color-error: #ff4848;


/* fonts */
$font-secondary: 'Merriweather', serif;
$font-main: 'Lato', sans-serif;